# Ignore Artifacts
build
dist

# Ignore npm modules
node_modules

# Ignore Testing results
res
coverage

# Configuration files
package.json
package-lock.json
yarn.lock

# Generated assets / binary data
src/assets
src/base64font.ts
src/base64image.ts
